<div id="<%= dom_id admin %>">
  <p>
    <strong>Name:</strong>
    <%= admin.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= admin.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= admin.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= admin.active %>
  </p>

</div>
